.~*
.scrapecache/*
*.pyc
*.log
*.json
*.pptx
*.pkl
*.pdf
venv/
.ipynb_checkpoints/*
.DS_Store
env/
.ipynb*
*.csv
*.csv.gz
*.sqlite
.fseventsd*
results/
notebooks/*csv
notebooks/*docx
notebooks/*html
notebooks/*json
notebooks/*png
